*{margin: 0;padding: 0;}
a{text-decoration: none;}
.head{width: 100%;height: 0.64rem;background: url('../images/header.jpg') no-repeat;background-size: cover;}
.nav{width: 90.3%;height: 0.22rem;padding-top: 0.34rem;margin: 0 auto;}
.nav a{height: 0.22rem;margin-right: 8.3%;font-size: 0.17rem;color: #fff;display: block;float: left;}
.nav a:first-child{margin-right: 10.4%;}
.nav a:nth-child(5){margin-right: 10%;}
.nav a:last-child{margin-right: 0;}
.footer{width: 100%;height: 0.4rem;}
.f_inner{width: 83.9%;height: 0.4rem;margin: 0 auto;}
.f_inner .icon-home,.f_inner .icon-heart-empty,.f_inner .icon-play-circle, .f_inner .icon-globe,.f_inner .icon-user
{font-size: 0.26rem;}
.footer a{height: 0.4rem;display:block;float: left;color: #333;margin-right: 12.7%;text-align: center;}
.footer a span{font-size: 0.11rem;}
.footer a:last-child{margin-right: 0;}